<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <style>
    body {
      font-family: Arial, sans-serif;
    }
    h1 {
      color: #4CAF50;
    }
    table {
      width: 100%;
      border-collapse: collapse;
    }
    th, td {
      border: 1px solid #ddd;
      padding: 8px;
    }
  </style>
</head>
<body>
<h1>Facture</h1>
<p>Date : <span th:text="${date}"></span></p>
<table>
  <thead>
  <tr>
    <th>Produit</th>
    <th>Quantité</th>
    <th>Prix</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="item : ${items}">
    <td th:text="${item.name}"></td>
    <td th:text="${item.quantity}"></td>
    <td th:text="${item.price}"></td>
  </tr>
  </tbody>
</table>
</body>
</html>
